.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.logo {
  font-family: Arial, Helvetica, sans-serif;
  
  margin: 4rem 0 0 2rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Global */
.font-family-sans-serif {
  font-family: Arial, Helvetica, sans-serif;
}

.section {
    max-width: 1300px;
    margin: 0 auto;
    align-items: center;
    padding: 1rem 2rem;

}

/* App */

.app {
  min-height: 100vh;
  background-color: var(--bg-main);
}

.navbar {
  background-color: var(--text-dark);

}

.nav-logo {
  color: var(--bg-main);
  font-size: 24px;
  font-weight: bold;
  padding: 1rem;
  z-index: 1000;
  position: sticky;
}

.nav-container {
  max-width: 1800px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  justify-content: space-between;
}

.nav-logo {
  
  font-size: 24px;
}