.title {
    font-size: 66px;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
}


.create-button {
    color: var(--bg-main);
    display: inline-block;
    padding: 5rem 2rem;
    background-color: #694873;
    text-align: center;
    font-size: 1.2rem;
    border-radius: 1rem;

}
.create-button:hover {
    background-color: var(--action-color); 
    color: var(--bg-main);
    transform: translateY(-3px); 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}


.header {
    display: flex  ;
    align-items: center;
    justify-content: center;
    padding: 20px;
}


.forms-grid {
    list-style: none; 
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    gap: 16px; 
    margin-top: 20px;
}


.form-item {
    margin: 0;
    padding: 1rem 2rem;
    background-color: var(--accent-soft);
    border-radius: 8px;
}


.form-link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 150px; 
    
    
    background-color: var(--accent-soft); 
    color: var(--text-dark);
    text-decoration: none;
    font-weight: 600;
    border-radius: 12px;
    border: 2px solid transparent;
    transition: all 0.2s ease-in-out;
}


.form-link:hover {
    background-color: var(--action-color); 
    color: var(--bg-main);
    transform: translateY(-3px); 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}


.btn-responses {
    top: 1rem;
    display: flex;
    justify-content: center;
    border-radius: 8px;
    font-size: 1.1rem;
}

.btn-responses:hover {
    background-color: var(--action-color); 
    color: var(--bg-main);
    transform: translateY(-3px); 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    
}

.form-card {
    position: relative;
    padding: 20px;
    background-color: var(--accent-soft); 
    color: var(--text-dark);
    text-decoration: none;
    font-weight: 600;
    border-radius: 12px;
    border: 2px solid transparent;
    transition: all 0.2s ease-in-out;
}


.form-title {
    padding: 1rem 0;
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 12px;
}